body, html{
    font-family: 'Open Sans', sans-serif;
}

#header{
    width: 100%;
    background-color: transparent;
    transition: background ease-out .2s;
}

#header.active{
    position: fixed;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

#header .navbar-collapse{
    width: auto;
}

#header .nav-link{
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 0;
    padding-right: 0;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    border-bottom: solid 4px transparent;
}

#header .nav-link:hover{
    border-bottom: solid 4px var(--secondary);
    color: var(--secondary)
}

#slider h1{
    font-weight: 900;
    text-transform: uppercase;
}

#servicos a.destaque{
    display: block;
    background: var(--light);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: black;
    text-decoration: none;
    transition: all ease-out 0.2s;
    margin-right: 15px;
}

#servicos a.destaque:hover{
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 12);    
    transform: scale(1.05);
}

#servicos a.destaque .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    max-height: 160px;
}

#servicos a.destaque .img-container img {
  max-height: 120px;
}

#servicos .element-item img {
  max-height: 300px;
}



#clientes a.link-cliente {
    padding: 0 15px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--light);
    height: 100px;
    transition: ease-out all 0.2s;
  }
  
  #clientes a.link-cliente:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  }
  
  #clientes a.link-cliente img {
    filter: grayscale(100%);
    max-height: 70px;
    width: 100%;
    opacity: 0.6;
  }
  
  #clientes a.link-cliente:hover img {
    filter: none;
    opacity: 1;
  }
  
  #clientes .cliente-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background-color: var(--light);
    border-radius: 5px;
  }
  
  #clientes .cliente-texto .imagem {
    padding: 60px 0;
    display: flex;
    align-items: center;
    margin-left: -40px;
    color: var(--subtitle);
    font-size: 24px;
    line-height: 26px;
  }
  
  #clientes .cliente-texto .imagem span {
    color: var(--secondary);
    font-size: 110px;
    line-height: 110px;
    letter-spacing: -10px;
    font-weight: 900;
    display: block;
  }
  
  #clientes .cliente-texto .telefone {
    display: flex;
    font-size: 14px;
    color: var(--subtitle);
  }
  
  #clientes .cliente-texto .telefone span {
    font-size: 25px;
    color: var(--title);
    font-weight: 900;
    display: block;
  }

#servicos .badge{
   font-weight: 400;
}

#servicos .element-item img{
  border-radius: 5px;
  transition: all ease-out 0.2s;
  width: 90%;
}

#servicos .element-item img:hover{
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}

#servicos .button-group{
  margin-bottom: 30px;
}

#servicos .button-group button{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  margin-right: 30px;
}

#servicos .button-group button.active{
  color: var(--primary)
}


#depoimentos .depoimento {
  background-color: var(--light);
  border-radius: 5px;
  display: flex;
  padding: 30px;
}

#depoimentos .depoimento .quote {
  max-width: 35px;
  max-height: 35px;
}

#depoimentos .depoimento .name {
  color: #aaaaaa;
}

#depoimentos .depoimento .name span {
  color: #000;
  font-weight: 700;
}

#depoimentos .depoimento img{
  max-width: 20%;
  height: 50%;
}

#contato .email {
  margin-top: 50px;
  border-radius: 5px;
  background-color: var(--light);
  color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 30px;
}

#contato .ajuste-logo{
  max-width: 10%;
}

#contato .email img {
  position: absolute;
  left: 30px;
  top: -20px;
  max-width: 10%;
}

#contato .email form {
  width: 60%;
  display: flex;
}

#contato .email .form-control,
#contato .email .form-control::placeholder {
  color: rgb(0, 0, 0);
}

#contato ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

#contato ul li {
  display: flex;
  list-style-type: none;
  margin-left: 25px;
}

#contato ul li:first-child {
  margin-left: 0;
}

#contato ul li a {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all ease-out 0.2s;
}

#contato ul li a:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

#contato ul li img {
  max-height: 20px;
}