/* MIN WIDTH */
@media (min-width: 992px) {
    #header .nav-link {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  
  /* MAX MEDIUM */
  @media (max-width: 991.98px) {
    #header .navbar-brand img {
      max-width: 180px;
    }
    #header .navbar-collapse {
      width: 100%;
    }
    #contato .email img {
      width: 90px;
      top: -14px;
    }

  }
  
  @media (max-width: 767.98px) {
    #servicos a.destaque .img-container {
      height: 120px;
    }
    #servicos a.destaque .img-container img {
      max-height: 120px;
    }
    #clientes .cliente-texto .imagem {
      padding: 10px 0 30px 0;
    }
  
    #clientes .cliente-texto .imagem img {
      max-width: 400px;
    }
  
    #contato .email {
      padding: 60px 30px 50px 30px;
    }
    
    #contato .email form {
      width: 100%;
      flex-direction: column;
    }
    #contato ul {
      padding-top: 30px;
      justify-content: center;
    }

    #contato .ajuste-logo{
        max-width: 50%;
        margin-left: 0px;
        margin-right: 0px;
    }

}