*{
    box-sizing : border-box ;
}

img{
    max-width: 100%;
    height: auto;
}

/*Dispositivos móveis*/
@media screen and (max-width: 767px){
    .gallery .item{
        max-height: 200px;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    iframe{
        max-width: 100%;
        height: auto;
    }

    ul.menu li{
        float: left;
    }
    ul.menu ul{
        position: fixed;
    }

    ul.menu li:hover ul{
        padding-right: 20px;
        margin-left: -10px;
    }
    .menu{
        display: none;
    }

    .logo{
        padding-bottom: 15px;
    }
    
    .seta{
        width: 10%;
        float: right;
    }

}

/* Fonte que será usada na página */
body{
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(0, 0, 0);
}

a:link, a:active, a:visited{
    color: yellow;
    text-decoration: none;
}

a h4{
    color: #000000;
    padding-right: 50px ;
}

/*Criação de linha e coluna*/
.linha{
    width: 70%;
    margin: 0 auto;
    overflow: auto;
    padding: 5px 0;
}

.coluna{
    padding: 0 10px;
    float: left;
}


/* Reutilizaveis */

.sem-padding{
    padding: 0 !important;
}

.sem-margin{
    margin: 0 !important;
}


h1, h2, h3, h4, h5, h6{
    font-weight: 500;
    margin: 20px 0 10px 0;
}

ul li, ol li{
    margin-bottom: 5px;
}

ul.inline li, ol.inline li{
    display: inline;
    margin-right: 15px;
}

ul.inline li:last-child, ol.inline li:last-child{
    margin-right: 15px;
}

ul.sem-marcador, ol.sem-marcador{
    list-style: none;
}

a.botao, input.botao{
    background: #009b3a;
    padding: 5px 10px;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    margin: 5px 0;
    display: inline-block;
    border: none;
}
a.botao:hover, input.botao:hover{
    background: #17a44c;
    text-decoration: none;
}

/* Layout do Site */

.logo{
    width: 30%;
}

.header{
    background: #009b3a;
}

.conteudo-extra{
    background: #f0f0f3;
}
.conteudo-extra h2{
    color: #002468;
}

.footer{
    background: #009b3a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-weight: 300;
    font-weight: bold;
}

/*  Menu - Navbar */
.menu{
    text-transform: uppercase;
    text-align: right;
    margin-top: 25px;
}

.menu li a{
    padding: 0px 5px;
    border-radius: 3px;
}

.menu li a:hover{
    text-decoration: none;
    background: #17a44c;
    color: #ffffff;
}

/*Listas*/

ul.noticias li{
    clear: both;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}

ul.noticias li img{
    width: 150px;
    height: auto;
    margin-right: 10px;
    float: left;
}

ul.noticias li h4{
    margin: -2px 0 5px 0;
    font-weight: 500;
}
ul.noticias p{
    margin: 5px 0;
    font-weight: 300;
}

ul.noticias li p a{
    font-weight: 500;
}
/*----------------------------------*/

/*Página de contato - formulário*/
.contato label{
    display: block;
    font-size: 13px;
    font-weight: 300;
}

.contato input, .contato textarea{
    display: block;
    margin-bottom: 15px;
    padding: 5px 2%;
    width: 96%;
}

.contato textarea{
    height: 150px;
}

.contato input.botao{
    width: auto;
}

/*-----------------------------*/


h1 img{
    width: 30%;
}

header h2{
    margin-left: 100px; 
    margin-top: -80px; 
    color: #000000;
}
header h2 :hover{
    text-decoration: none;
}

.dicas h2, .dicas h3, .dicas h4{
    color: #002468
}

.coluna a p{
    color: #000000;
}
.coluna a p :hover{
    text-decoration: none;
}

/* Dropdown Menu */
ul li {display: inline-block;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 300px;
  display: none;
  padding-top: 20px;
  padding-left: 80px;
  margin-left: 30px;
  text-align: left;
}
ul li ul{
    background: #009b3a;
    z-index: 999;
}
ul li ul li a{ 
  background: #009b3a; 
  display: block; 
}

/*------------------------------*/

/*Imagem saltar ao passar o mouse por cima*/
div a img:hover{
    transform: scale(1.03,1.03);
}


/* Menu lateral nos celulares*/
div a.sidenav-trigger, div a.sidenav-trigger i{
    float: right;
}
.sidenav{
    position:fixed;
    width:310px;
    left:0;
    top:0;
    margin:0;
    transform:translateX(-100%);
    height:100%;
    padding-bottom:60px;
    background-color:#009b3a;
    z-index:999;
    overflow-y:auto;
    float:none;
}

.sidenav li>a{
    color:yellow;
    display:block;
    font-size:20px;
    font-weight:500;
    height:48px;
    line-height:20px;
    padding:0 32px;
}

.sidenav li ul li a{
    display: block;
    margin-right: 10px;
}

/* --------------------------- */


/*Telas com mais de 768px*/
@media screen and (min-width: 768px){
    div a.sidenav-trigger, div a.sidenav-trigger i{
        display: none;
    }
    .seta{
        display: none;
    }
}


/*Icones da página contato*/
.iconesContato{
    width: 6%;
}